* {
    box-sizing: border-box;
    text-align: left ;
    padding:    10px;
    margin: 10px;
}

body {
    margin: 50px;
    padding: 0;
    /* background-color: #A4A8A3; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: repeating-linear-gradient(black,silver);
    background-size: inherit;
    position: relative;
    color: white;

}

#title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: 2pt;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0px;
}

#description {
    margin-bottom: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;

}

.namecontainer #name-label {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
}

#name, #email, #number, #dropdown {
    width: 500px;
    margin: 50px;
    border-radius: 5px;
    transition-property: color;
    transition-property: border-radius !important;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
}

    
#name:hover, #email:hover, #number:hover{
    background-color: black;
    color: white;
}

#name:focus, #email:focus, #number:focus {
    border-radius: 50px;
    color: white;
}

.emailcontainer #email-label {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
}

.agecontainer #number-label {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
}

.dropdown-container .currentrole {
display: flex;
justify-content: space-between;
flex-direction: column;

}

div .textarea {
display: flex;
align-items: auto;
}

div, .fav-feature {
    margin: 6px 0;
}
fieldset{
    border-radius: 20px;
    transition-property: border-radius;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}
fieldset:hover{
    border-radius: 60px;
    border: 1px solid black;
}

#submit{
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}
#submit:hover{
    background-color: black;
    color: white;
}
@media (max-width: 700px) {
#name, #email, #number, #dropdown, textarea, button {
    width: 60vmin;
    margin: 10px;
    }
}
@media (min-width: 1000px) {
#name, #email, #number, #dropdown, textarea, button {
    width: 60vmax;
    margin: 50px;
    }
}